
/* Estilos para la barra de navegación y el pie de página */

.bg-colPropio {
  background-color: #333a40;
}

/* Estilos para la imagen central */
.image-container img {
  filter: brightness(0.7);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.text-container {
  align-items: flex-start;
  margin-left: 55%;
  top: 50%;
  right: 0;
  transform: translateY(-25%);
  padding: 20px;
  margin-right: 10%;
  font-size: 20px;
}

/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 700px) {
  .text-container {
    text-align: center;
    top: auto;
    bottom: 0;
    transform: none;
    margin: 0 auto;
    width: 80%;
  }
  
  .image-container {
    height: 300px;
  }
}

/* Estilos responsivos para pantallas más grandes */
@media (min-width: 1200px) {
  .text-container {
    font-size: 24px;
  }
  
  .image-container {
    height: 800px;
  }
}
